@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: lightslategrey;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	line-height: 1.5;
	display: flex;
	margin-right: 5%;
	margin-top: 5%;
	height: 100%;

}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.form-mood-selector{
	width: 10%;
	
}

form {
	margin-left: 15%;

}

fieldset {
	border:1px solid white;
	padding: 1em;
	margin-right: 150px;
	width: 360px;
}
#journal-list {
	border: 1px solid white;
	/* padding: 10px; */
	display:flex;
	;
}


#journalDate{
	flex: 0 0 100%
}

textarea {
	width: 100%;
}

main {
	margin-left: 50%;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Computer-screen-code-glitch-animation-gif-background-free.gif/1200px-Computer-screen-code-glitch-animation-gif-background-free.gif");
	background-position: relative;
	background-size: cover;

  }